.App {
  &-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 2rem;

    &--avatar {
      object-fit: cover;
      border: 3.5px solid #000000;
      border-radius: 50%;
      width: 150px;
      height: 150px;
      -webkit-box-shadow: 0px 0px 3px 6px rgba(75, 53, 53, 0.75);
      -moz-box-shadow: 0px 0px 3px 6px rgba(75, 53, 53, 0.75);
      box-shadow: 0px 0px 5px 0px rgba(75, 53, 53, 1);
      transition: all 0.2s ease-in-out;

      &:hover {
        transform: scale(1.15);
      }
    }

    &--name {
      margin-top: 10px;
      font-size: 5rem;
      font-weight: 600;
      letter-spacing: 0.5rem;
      text-shadow: 0px 3px 6px rgba(75, 53, 53, 1);
    }

    &--text {
      margin-top: 10px;
      font-size: 3rem;
      letter-spacing: 0.2rem;
    }

    &--socialMedia {
      padding-top: 2rem;

      &-github {
        height: 5rem;
        width: 5rem;
        padding-right: 5rem;
        transition: all 0.2s ease-in-out;

        &:hover {
          transform: scale(1.2);
        }
      }

      &-linkedIn {
        height: 5rem;
        width: 5rem;
        padding-left: 5rem;
        transition: all 0.2s ease-in-out;

        &:hover {
          transform: scale(1.2);
        }
      }
    }
  }

  &-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &--button {
      margin-top: 5rem;
      font-size: 1rem;
      padding: 0.75rem 2rem;
      background-color: #3498db;
      color: #fff;
      font-weight: 500;
      letter-spacing: 2px;
      border-radius: 0.8rem;
      border: 0px;
      text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.5);
      box-shadow: 0 9px #808080;
      transition: all 0.2s ease-in-out;

      &:hover {
        cursor: pointer;
      }

      &:focus {
        outline: none;
        box-shadow: 0 5px #666;
        transform: translateY(4px);
      }
    }

    &--form {
      width: 100vh;
      height: 30vh;
      padding-top: 1rem;
      // border: 1px solid #808080;
      -webkit-box-shadow: 0px 0px 3px 6px rgba(75, 53, 53, 0.75);
      -moz-box-shadow: 0px 0px 3px 6px rgba(75, 53, 53, 0.75);
      box-shadow: 0px 0px 5px 0px rgba(75, 53, 53, 1);
    }
  }
}
